<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ict.eoh" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>EOH ICT</name>
    <description>
        EOH Sales Conference application.
    </description>
    <author email="Maxine.mckbrown@eoh.co.za" href="eohdigital.co.za">
        Maxine Mckelvey-Brown
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="*.pushwoosh.com" />
    <access origin="http://eohict.co.za/Scripts/" />
    <allow-navigation href="*" />
    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
    </feature>
    <feature name="Vibration">
        <param name="android-package" value="org.apache.cordova.vibration.Vibration" />
    </feature>
    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
    </feature>
    <gap:plugin name="com.ohh2ahh.plugins.appavailability" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
</widget>
