<div class="icon_blue">
<ons-list class="menu-list icon_blue" ng-controller="menuController">
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('home.html', {closeMenu: true})">
     <div class="menuicon lblue"><ons-icon icon="fa-home" fixed-width="true"  class="icon_white"></ons-icon></div>
    Home
  </ons-list-item>
   <ons-list-item class="menu-item" ng-click="menu.setMainPage('speakers.html', {closeMenu: true})">
    <div class="menuicon  dblue"><ons-icon icon="fa-user" fixed-width="true" class="icon_white"></ons-icon></div>
   Speakers 
  </ons-list-item> 
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('agenda.html', {closeMenu: true})">
   <div class="menuicon  lblue"> <ons-icon icon="fa-calendar" fixed-width="true"  class="icon_white"></ons-icon></div>
    Agenda 
  </ons-list-item>   
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('Maps.html', {closeMenu: true})">
    <div class="menuicon dblue"><ons-icon icon="ion-map" fixed-width="true"  class="icon_white"></ons-icon></div>
    Map
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="internationalDialling()">
    <div class="menuicon babyblue"><ons-icon icon="fa-map-marker" fixed-width="true"  class="icon_white"></ons-icon></div>
    International Calling
  </ons-list-item>
  <!--<ons-list-item class="menu-item" ng-click="menu.setMainPage('news.html', {closeMenu: true})">
    <div class="menuicon skyblue"><ons-icon icon="ion-social-twitter" fixed-width="true"   class="icon_white"></ons-icon></div>
    Twitter
  </ons-list-item>    -->
  <!--<ons-list-item class="menu-item" ng-click="menu.setMainPage('uber.html', {closeMenu: true})">
   <div class="menuicon yellow"> <ons-icon icon="ion-android-car" fixed-width="true" class="icon_white"></ons-icon></div>
    Uber 
  </ons-list-item> -->


    <!--<ons-list-item class="menu-item" ng-click="menu.setMainPage('BuInfo.html', {closeMenu: true})">
    <div class="menuicon babyblue"><ons-icon icon="fa-sitemap" fixed-width="true" class="icon_white"></ons-icon></div>
   BUs
  </ons-list-item>-->
  <!--<ons-list-item class="menu-item" ng-click="openfeed();">-->
  <!--<ons-list-item class="menu-item" ng-click="menu.setMainPage('feedbackOverview.html', {closeMenu: true})">
    <div class="menuicon babyblue"><ons-icon icon="fa-sitemap" fixed-width="true" class="icon_white"></ons-icon></div>
  Feedback Form
  </ons-list-item>   -->
</ons-list>
</div>